<html>
<head>
    <title>Predix Python Demo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
    <div class="title">
        <h1>Predix.io Demo - with Flask : Microservices.</h1>
    </div>
    <div id="content">
        <span>Enter a Number to get the Fibonacci Sequence Value of the Number.</span>
        <form method="post" action="{{ url_for('fibonacci_post') }}">
            <label for="number">Please enter a Number:</label>
            <input type="text" name="number" required="true"/><br /><br/>
            <input type="submit" />
        </form>
    </div>
    </div>
</body>
</html>
