<html>
<head>
    <title>Predix Python Demo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
    <div class="title">
        <h1>Predix.io - with Flask : Data Persisted into PostgreSQL</h1>
    </div>
    <div id="content">
        <table class="tg">
            <tr>
                <th class="table_header">ID</th>
                <th class="table_header">Username</th>
                <th class="table_header">Email</th>
            </tr>
            {% for data in postgres_data %}
            <tr>
                <td class="table_data">{{ data.id }}</td>
                <td class="table_data">{{ data.key }}</td>
                <td class="table_data">{{ data.value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="content">
        <table>
            <tr>
                <td>
                    <form action="{{ url_for('redis_signup') }}">
                        <input type="submit" value="Singup. Hobbits wanted."/>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('get_redis') }}">
                        <input type="submit" value="Let the Unexpected Journey Begin"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
